<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>我的报修</title>
		<link href="../css/bootstrap/bootstrap.min.css" type="text/css" rel="stylesheet"/>
		<link href="../css/bootstrap/bootstrap-select.min.css" type="text/css" rel="stylesheet"/>
		<link href="../css/jquery.mCustomScrollbar.min.css" type="text/css" rel="stylesheet"/>
		<link href="../css/main.css" type="text/css" rel="stylesheet"/>
		<link href="../css/subMain.css" type="text/css" rel="stylesheet"/>
		<link href="../css/myMsg.css" type="text/css" rel="stylesheet"/>
		<link href="../css/mUser.css" type="text/css" rel="stylesheet"/>
		<script src="../javascript/jquery-1.10.2.min.js" type="text/javascript"></script>
		<script src="../javascript/html5.js" type="text/javascript"></script>
		<script src="../javascript/react/react.js" type="text/javascript"></script>
		<script src="../javascript/react/react-dom.js" type="text/javascript"></script>
		<script src="../javascript/bootstrap/bootstrap.min.js" type="text/javascript"></script>
		<script src="../javascript/bootstrap/bootstrap-select.min.js" type="text/javascript"></script>
		<script src="../javascript/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>
        <script src="../javascript/jquery.mousewheel.min.js" type="text/javascript"></script>
        <script src="../javascript/laydate/laydate.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="curr_content"></div>
		<script src="../javascript/build/main.js" type="text/javascript"></script>
		<script src="../javascript/build/subMain.js" type="text/javascript"></script>
		<script src="../javascript/build/mUser.js" type="text/javascript"></script>
	</body>
</html>
